body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}
#list{
	list-style: none;
	margin: 0;
	padding: 0;
}
.table-container{
  background-size: cover;
  -webkit-print-color-adjust: exact;
}

#list li{
	/*width: 10.5cm;
	height: 7.5cm;*/
	margin: 1cm;

	position: relative;
	display: inline-block;
	font-size: 1.4em;
}
#list li:nth-child(even){
	page-break-after: always;
}
.table{
	display: table;
}
.table-row{
	display: table-row;
}
.table-cell{
  display: table-cell;
vertical-align: top;
padding: 1cm .75cm .5cm 3cm;
-webkit-print-color-adjust: exact;
text-align: right;
}
.form-group.inline{
	width: 49.5%;
	display: inline-block;
}


#list li div .right{
	float:right;
	margin-top: 9px;
	font-size: 1em;
}
#list li div.bottom .right{
	margin-top: 0px;
}
.top{
	/*background-color: #3a3a3a;*/
	color: white;
	-webkit-print-color-adjust: exact;

}
.top, .bottom{
	height:25%;
}
.top img{
	width: 14%;
  vertical-align: middle;
}
.type{
	display: inline-block;
  text-align: right;
  width: 84%;
}
.bottom{
	/*background-color: #53d5cf;*/
	color: black;
	-webkit-print-color-adjust: exact;
	font-size: .8em;
}
.name{
	font-size: 1.8em;
	text-transform: uppercase;
	font-weight: bold;
	color: #3A3A3A;
	margin: .5em .3em;
}
.firstname{
  color:#1e0d3c;
  font-family: Arial;
}
.lastname{
  font-family: Arial;
	display: block;
	font-size: .7em;
	color: #1e0d3c;
	font-weight: normal;
}
