body{
	font-family: 'Montserrat', sans-serif;
}
#list{
	list-style: none;
	margin: 0;
	padding: 0;
}
#list li{
	width: 45%;
	margin: 2.3% 2.5%;
	float: left;
	padding-bottom: 55px;
	position: relative;
}
#list li > div{
	padding: 1em;
}
#list li > div.bottom{
	position:absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
#list li div .right{
	float:right;
	margin-top: 9px;
	font-size: 1em;
}
#list li div.bottom .right{
	margin-top: 0px;
}
.top{
	background-color: #3a3a3a;
	color: white;
	-webkit-print-color-adjust: exact;
}
.top img{
	width: 35px;
}
.bottom{
	background-color: #53d5cf;
	color: black;
	-webkit-print-color-adjust: exact;
	font-size: .8em;
	/*height: 15px;*/
}
.name{
	font-size: 1.8em;
	text-transform: uppercase;
	font-weight: bold;
	color: #3A3A3A;
	margin: .5em .3em;
}
.lastname{
	display: block;
	font-size: .7em;
	color: #53D5CF;
	font-weight: normal;
}